<!DOCTYPE html>
<html>
<head>
  <title>Memberful</title>
  <%= stylesheet_link_tag    "memberful/application", media: "all" %>
  <%= javascript_include_tag "memberful/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
